@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}
body{
    background-image:url(../img/aro\ de\ luz.jpg) ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;

}
section{
   max-width: 90%;
   width: 100%;
   padding: 50px;
   margin: auto;
   text-align: center;
}

#pantalla-inicio{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pantalla-juego{
    display: none;
}
#pantalla-final{
    display: flex;
}

/* PANTALLA INICIO */
#pantalla-inicio h2{
    font-size: 40px;
    margin-top: -60;
    text-shadow: 3px 3px 10px #0000f4;
    color: #fcfcfcd5;

}
#pantalla-inicio h2 span{
    color: #ffff0d;
}
#pantalla-inicio button{
    font-size: 30px;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
    background:#f700ffc4;
    color:#e9fff1;
}
#pantalla-inicio button:hover{
    background-color:#10cfdde3;
}

/* PANTALLA JUEGO */
#pantalla-juego h2{
    font-size: 40px;
    color: #2200ff;
    text-shadow: 3px 3px 10px #ffffff;
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
}
#pantalla-juego h2 span{
    color: #ffff0d;
}
#pantalla-juego .contenedor-pais{
    margin-top: 40px;
}

#pantalla-juego .contenedor-pais .letra{
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
    width: 100%;
    color: #c800ff;
    background-color: #5fd1e7c8;
    font-size: 50px;
    margin: 2px;
    text-align: center;
    font-family: 'Mulish';
    font-weight: 800;
    line-height: 80px;
}
#pantalla-juego input{
    display: inline-block;
    font-size: 50px;
    background: #57d2e8b9;
    outline: none;
    border: none;
    border-bottom: 2px solid #00bafdb8;
    border-radius: 5%;
    margin-top: 40px;
    text-align: center;
    color: #2c13eec7;
    letter-spacing: 4PX;
}
#myProgress {
    width: 300px;
    margin: auto;
    background:#57baebac;
    border: 2px solid #0da3d1;
    border-radius: 5px;
    margin-top: 50px;
}
  
#myBar {
    width: 1%;
    height: 30px;
    background-color:#00e2fb83;
}

#pantalla-juego .acertadas{
    margin-top: 30px;
    color: hsl(330, 100%, 99%);
    font-size: 50px;
    font-weight: bold;
}

/* PANTALLA FINAL */
#pantalla-final{
    font-size: 30px;
    display: none;
    flex-direction: column;
}
#pantalla-final h2{
    margin-bottom: 30px;
    text-decoration: underline;
}

#pantalla-final h3 span{
    display: block;
    font-size: 70px;
    color: #fff4f4;
}
#pantalla-final button{
    width: fit-content;
    margin: auto;
    font-size: 30px;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
    background:#00ccff8d;
    color:#ff0000;
}
#pantalla-final button:hover{
    cursor: pointer;
    background:#243be6c9;

}
@media screen and (max-width:1000px) {
    section{
        width: 100%;
    }
    #pantalla-juego .contenedor-pais .letra{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    #pantalla-juego input{
        display: block;
        width: 80%;
        margin: 40px auto;
        font-size: 30px;
    }
}

.palabra-b{
    color: rgb(237, 73, 177);
}
.palabra{
    color: #c017e7;
}

.redirecionar{
    margin-top: -55%;
    width: 5%;
    height: 5%;
    margin-right: 130%;
}