body{
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    margin-top: 1%;
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}

.loading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box{
    padding: 2px;
    width: 40%;
    height: 30px;
    border: 2px solid #267191;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px #ff00ff;
}

.loading .line-box .line{
    height: 22px;
    border-radius: 20px;
    background: linear-gradient(120deg, #00ffff, #67D295) ;
    animation:  loading 4s forwards cubic-bezier(0,0,0,0);
}

.text {
    display: flex;
    align-items: center; /* Centra verticalmente */
}

.cargando {
    display: flex; /* Permite alinear las pelotas en fila */
    margin-left: 10px; /* Espacio entre el texto y las pelotas */
}

.pelotas {
    width: 10px; /* Ajusta el tamaño según lo que necesites */
    height: 10px; /* Ajusta el tamaño según lo que necesites */
    border-radius: 50%; /* Hace que las pelotas sean redondas */
    background-color: #000; /* Color de las pelotas */
    margin: 0 5px; /* Espacio entre pelotas */
    animation: bounce 0.5s infinite alternate;
}

/* Animación para las pelotas */
@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.logo{
    height: 40%;
    width: 35%;
}

.line-box {
    background-color: #ccc; /* Color de fondo de la barra */
}
.numero-cargar{
    position: absolute;
    bottom: 8.5%;
    right: 50%;
    z-index: 10;
    color: black ;
    
}
.numero-cargar{
    animation: numero-carga 5s ease initial;
    content: '';
}
