body {
  background-image: linear-gradient(#051327, #000);
  inset: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  animation: puffIn 1s ease-in-out;  
}

@keyframes puffIn {
  0% {
      opacity: 0;
      transform: scale(2);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.play-button {
  animation: zoom 2s infinite alternate ease-in-out;
  width: 40%; 
  height: 40%;
}

@keyframes zoom {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}

.space {
  --size: 2px;
  --space-layer:
    4vw 50vh 0 #fff,
    18vw 88vh 0 #fff,
    73vw 14vh 0 #fff;

  width: var(--size);
  height: var(--size);
  background: white;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
}

.space {
  animation: move var(--duration) linear infinite;
}

@keyframes move {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100vh);
  }
}
.volu{
	color: white;
	margin-left: 35px;
}
.pregunta{
	margin-left: 1650px;
}
.tamañosoni {
  width: 30%;
  height: auto;
  min-width: 40px;
  margin-top: 5px;
  margin-left: 30px;
  height: auto;
  object-fit: cover;

}
.tamañosoni3 {
  width: 40%;
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
  min-width: 10px;
  height: auto;
  object-fit: cover;
}
.tamañosoni2 {
  width: 3%;
  min-width: 40px;
  margin-top: 10px;
  margin-left: 30px;
  height: auto;
  object-fit: cover;
}
.posi{
  margin-left: 800px;
  margin-top: 10px;
}
.container-play{
  margin-top: -5%;
}
.container-1 {
  width: 100%;
  max-width: 500px;
}
.container-2 {
  width: 10%;
  max-width: 200px;
}
.container-button{
  width: 15%;
  min-width: 100px;
}
.bar-volumen{
  position: relative;
  transform: scale(0.8);
  right: 20px;
}
.logo {
  border-radius: 25%;
  width: 70%;
  height: auto;
  object-fit: cover;
  min-width: 100px;
  min-height: 100px;
  background-color: transparent!important;
}
.container-top{
  margin-top: -6% ;
  justify-content: center;
}
@media (max-width: 620px) {
  .container-top {
    margin-top: 5% ;
  }
}
.play-button {
  width: 70%;
  height: auto;
  object-fit: cover;
}
/* -------------------------------------BOTONES PLAY2 --------------------------------------------*/

.perfilll{
	text-align: center;
	display: flex;
	margin: -15%;
}
.perfill{
	color: white;
	margin-left: 1310px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}
/* Clase que se añadirá al hacer clic para aplicar el zoom */
.zoom {
  transform: scale(1.2);
}

.btn-games {
 /* margin-left: calc((100vw - 250px) / 2);*/
  width: 50%;
  margin: auto;
  margin-left: 26.5%;
  height: auto;
  display: flex;
  justify-content: center;
  object-fit: cover;
  flex-wrap: wrap;
  gap: 20px;
  /* Espacio entre botones */

}
.btn-1{
  width: 150px;
  padding: 10px 20px;
  animation: moveRight 2s infinite alternate ease-in-out;
}

.btn-games a:nth-child(1) {
  animation-delay: 0s; 
}

.btn-games a:nth-child(2) {
  animation-delay: 0.3s; 
}

.btn-games a:nth-child(3) {
  animation-delay: 1s; 
}

@keyframes moveRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(20px); 
  }
}
/*------------------------------ END BOTONES PLAY2------------------------------------------- */
.fondo-modal {
  height: 20;
  width: 20;
}

.modal-body {
  background-color: #2496e2;
  justify-content: center;
}

.fs-5 {
  background-color: #2496e2;
}

.btn-secondary {
  background-color: #2496e2;
}

.modal-footer {
  background-color: #2496e2;
}

.btn-close {
  background-color: #2496e2;
}

.modal-header {
  background-color: #2496e2;
}