.offcanvas {
	background-image: url("../img/fondo\ mitico.jpeg");

}

.offcanvas-start {
	margin-bottom: 10%;
	text-align: center;
}

.offcanvas-title {
	color: #ffffff;
	text-align: center;
	width: 70%;
	margin-left: 15%;
}

.offcanvas-tittle {
	color: #ffffff;
	font-size: medium;
	height: auto;
	text-align: center;
	width: 70%;
	margin: auto;
}

.offcanvas-body {
	margin: auto;
}