body {
	background-image: url("../img/Planeta.png");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}

.boton {
	width: 500;
	height: 500;
	background: #0372b1;
	border-radius: 45%;
	position: relative;
	transition-duration: 3s;
}


.numeros{
	color: aqua;
	margin-top:60px;
}
.boton_numeros{
	border-radius: 20px;
	background-color: rgb(25, 138, 231);
	padding: 25px 35px;
	text-decoration: none;
	color: white;
	font-weight: 30px;
	font-size: 40px;
	transition: .4s ease;

}
.boton_numeros:hover{
	box-shadow: 0 0 10px blue,
		        0 0 30px blue,
		        0 0 30px blue,
		        0 0 30px blue;

}


.espacio{
    margin-top: 210px;
text-align: center;
}