
.contenedor{
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}
.tarjeta-1{
	height: 420px;
	width: 490px;
	/*height: 250px;
	width: 200px;*/
	border-style: solid;
	border-color: black;
	background-color:gray;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(24, 13, 175, 0.892);

	position: relative;
  
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 50px;
	
}

.logo_tamaño{
    height: 70px;
    width: 70px;
    margin-left: 30px;
	transition: transform 0.3s;
}
.lola{
	color: rgb(2, 255, 242);
	align-content: center;
	margin-top: 0%;
}

.boton{
  
	border-radius: 20px;
	
	padding: 5px 15px;
	text-decoration: none;
	color: white;
	font-weight: 30px;
	font-size: 20px;
	transition: .4s ease;
}
.boton:hover{
	box-shadow: 0 0 10px blue,
		        0 0 30px blue,
		        0 0 30px blue,
		        0 0 30px blue;

}
.margin{
    margin-top: 10px;
}