body{
    background-image: url("../img/multi.jpeg");
}
.btn-secondary{
background-color: skyblue;
color: black;
font-size: 115%;
}
.modal-body-a{
    margin-top: 60%;
    border-radius: 5%;
    font-size: 120%;
    color: rgb(255, 0, 238);
    background-image:url(../img/fondo\ de\ musica\ 1.jpg)
}
.modal-body-b{
    margin-top: 60%;
    border-radius: 5%;
    font-size: 120%;
    color: rgb(221, 77, 6);
    background-image:url(../img/leccin_de_msica.jpg)
}
