body {
	background-image: url("../img/fondo\ numero.png");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  } 
  .btn {
    box-shadow: 0 0 10px rgba(253, 253, 253, 0.799);
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #4ac0e1;
    color: #6176e8;
  }
  
  .row {
    margin-bottom: 18px;
  }
  
  .col-md-4 {
    padding: 15px;
  }
  
  .rounded-circle {
    padding: 50px 50px;
    font-size: 35px;
  }
  
  /* Estilos de los colores para los botones */
  .btn-primary {
    background-color: #2496e2; 
    color: #ffffff; 
  }
  
  .btn-secondary {
    background-color: #2496e2; 
    color: #ffffff; 
  }
  
  .btn-success {
    background-color: #2496e2; 
    color: #ffffff; 
  }
.btn-info{
    background-color: #2496e2; 
    color: #ffffff; 
}
.btn-warning{
    background-color: #2496e2; 
    color: #ffffff; 
}
.btn-danger{
    background-color: #2496e2; 
    color: #ffffff; 
}







.container-2{
  width: 1000%; /* Ancho del contenedor */
  height: 400px; /* Alto del contenedor */
  background-color: #11ddf83a; /* Fondo del contenedor */
  border: 1px solid #0ef3f763; /* Borde del contenedor */
  padding: 30px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 

}
.container-2{
  width: calc(42% - 10px);
  margin: 10px; 
  padding: 20px 20px; border: 1px solid #08d5f0; 
  border-radius: 10px; 
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px; 
}
.headtable{
  color: #ffffff;
}
.mb-4{
  color: #000000;
}
.td{
  color: #ffffff;
}
.container-point{
background-color: #08dbfc;
border-radius: 10%;
border-color: #d7e9eb;
margin-top: 50%;
/*
width: calc(125% - 10px);*/
height: 50%;
}
.table-responsive{
  margin-left: 60px;
}
















.container-numeros{
  background-color: #9bdde52c;
  margin-top: 20%;
  border-radius: 15%;
}
.modal-body{
  background-color: #2496e2;
  justify-content: center;
}
.fs-5{
  background-color: #2496e2;
}
.btn-secondary{
  background-color: #2496e2;
}
.modal-footer{
  background-color: #2496e2;
}
.btn-close{
  background-color: #2496e2;
}
.modal-header{
  background-color: #2496e2;
}