
.lola{
    display: grid;
    margin: auto;
    place-items: center;
    width: 20px;
    margin-left: 45%;
}
.lol2 {
    margin-left: 47%;
    width: 30px;
}
.color{
    color: rgb(0, 255, 238);
}
.container {
    background-color:transparent;
    padding: 20px;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 1, 1, 0.892);
    width: 300px;
    background-color: #324780;
    
}
.letraa{
    color: #ec0404;
    margin-left: auto;
    text-shadow:
  -1px -1px 1px #aaa,
  0px 4px 1px rgba(0, 0, 0, 0.5),
  4px 4px 5px rgba(0, 0, 0, 0.7),
  0px 0px 7px rgba(0, 0, 0, 0.4);
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ec0404;
}
.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #e93e05b7;
    border-radius: 5px;
}
.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff3c00;
    color: white;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
    backdrop-filter: blur(10px);
}
.container input[type="submit"]:hover {
    background-color: #930f0f;
}
.container p {
    text-align: center;
}
.container p a {
    color: #4CAF50;
    text-decoration: none;
}
.container p a:hover {
    text-decoration: underline;
}
button{
    padding: 10px 25px;
    font-size: 22px;
    line-height: 40px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient( to right bottom,#273c75,#079992);
    color: #fff;
    border-radius: 5px;
    border: 0px;
    height: 60px;
    }
.tamañosoni{
    height: 70px;
    width: 70px;
    margin-left: 30px;
}
.btn-1 {
	align-content: center;
	border-radius: 20px;
	background-color: rgb(25, 138, 231);
	padding:5px 15px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 20px;
	transition: .4s ease;
    
}
.btn-1:hover {
	box-shadow: 0 0 10px blue,
		        0 0 30px blue,
		        0 0 30px blue,
		        0 0 30px blue;

}

    