body {
	background-image: url("../img/imagen1.jpeg");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}

.boton {
	width: 500;
	height: 500;
	background: #0372b1;
	border-radius: 45%;
	position: relative;
	transition-duration: 3s;
}
.conta{
	background-color:transparent;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(24, 13, 175, 0.892);
    
}
.btn-1 {
	margin-right: 55px;
	border-radius: 20px;
	background-color: rgb(25, 138, 231);
	padding: 25px 35px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 20px;
	transition: .4s ease;
}
.btn-2 {
	margin-right: 30px;
	border-radius: 20px;
	background-color: rgb(25, 138, 231);
	padding: 25px 35px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 20px;
	transition: .4s ease;
}
.btn-1:hover {
	box-shadow: 0 0 10px blue,
		        0 0 30px blue,
		        0 0 30px blue,
		        0 0 30px blue;

}
.logo{
	border-radius: 25%;
}

.boton:hover {
	width: 500;
	height: 500;
	background: purple;
	box-shadow: 0 0 10px purple;
}

.icono {
	color: rgb(31, 57, 186);
	font-size: 6rem;
}

.tamaño_imagen {
	align-content: center;
}
.lola{
	color: rgb(2, 255, 242);
	align-content: center;
	
}
.numeros2 img{
	
	margin: 50px 50px 50px 50px;
}
.pci{
	margin-left: 25px;
}

.contenedor{
	padding: 0 50px;
	display: flex;
	
}
.box-1 {
	height: 200px;
	width: 200px;
	background-color: orange;

	float: left;
}

.box-2 {
	height: 200px;
	width: 200px;
	background-color: green;
	float: right;
}
.tamañosoni{
    height: 70px;
    width: 70px;
    margin-left: 30px;
}

