body {
	background-image: url("../img/imagen1.jpeg");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}

.boton {
	width: 500;
	height: 500;
	background: #0372b1;
	border-radius: 45%;
	position: relative;
	transition-duration: 3s;
}
.conta{
	background-color:transparent;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(24, 13, 175, 0.892);
}
.btn-1 {
	margin-right: 55px;
	border-radius: 20px;
	background-color: rgb(25, 138, 231);
	padding: 25px 35px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 20px;
	transition: .4s ease;
}
.btn-2 {
	margin-right: 30px;
	border-radius: 20px;
	background-color: rgb(25, 138, 231);
	padding: 25px 35px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 20px;
	transition: .4s ease;
}
.btn-1:hover {
	box-shadow: 0 0 10px blue,
		        0 0 30px blue,
		        0 0 30px blue,
		        0 0 30px blue;

}
.logo{
	border-radius: 25%;
}

.boton:hover {
	width: 500;
	height: 500;
	background: purple;
	box-shadow: 0 0 10px purple;
}

.icono {
	color: rgb(31, 57, 186);
	font-size: 6rem;
}

.tamaño_imagen {
	align-content: center;
}
.lola{
	color: rgb(2, 255, 242);
	align-content: center;
}
.numeros2 img{
	
	margin: 20px 20px 20px 20px;
}
.pci{
	margin-left: 25px;
}

.contenedor{
	font-size: smaller;
	padding: 0 50px;

	
}
.box-1 {
	border-radius: 100px;
	height: 450px;
	width: 450px;
	background-color: grey;

	float: left;
}

.box-2 {
	border-radius: 100px;
	height: 450px;
	width: 450px;
	background-color: grey;
	
	float: right;
}
.tamañosoni{
    height: 70px;
    width: 70px;
    margin-left: 30px;
}

.pro{
	color: rgb(2, 255, 242);
}


.cuadro1{
	padding: 10px;
	text-align: center;
	width: 450px;
	height: 60px;
}

.texto{
	color: white;
	font-size: 25px;
}

.cuadro2{
	padding: 50px;
	text-align: center;
	width: 441px; 
	height: 700px;
}

.texto1{	
	font-size: 25px;
}
.img2{
	padding-top: 10%;
	width: 200px;
	height: 200px;
	border-radius: 10px 10px;
}
.img3{
	padding-top: 20px;
	width: 100px;
	height: 100px;
	margin-left: -110px;
	position: absolute;
}
.img4{
	padding-top: 20px;
	width: 100px;
	height: 100px;
	margin-left: -120px;
	margin-top: -400px;
}

.img5{
	padding-top: 20px;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	margin-top: 100px;
}

.img6{
	padding-top: 10px;
	width: 250px;
	height: 200px;
	border-radius: 10px 10px;
}

.img7{
	margin-top: 30px;
	padding-top: 10px;
	width: 250px;
	height: 200px;
	border-radius: 10px 10px;
}

.img8{
	margin-top: 10px;
	padding-top: 10px;
	width: 250px;
	height: 200px;
	border-radius: 10px 10px;
}

.img9{
	margin-top: 10px;
	padding-top: 10px;
	width: 250px;
	height: 200px;
	border-radius: 10px 10px;
}
/*ESTLIOS OPERACIONES DE NUMEROS*/
.numeros{
	color: aqua;
	margin-top: 42%;
}
.boton_numeros{
	
	border-radius: 20px;
	background-color: rgb(25, 138, 231);
	padding: 25px 35px;
	text-decoration: none;
	color: white;
	font-weight: 30px;
	font-size: 20px;
	transition: .4s ease;
}
.boton_numeros:hover{
	box-shadow: 0 0 10px blue,
		        0 0 30px blue,
		        0 0 30px blue,
		        0 0 30px blue;

}
/*END ESTLIOS OPERACIONES DE NUMEROS*/

